{% extends 'game/includes/base.html' %}
{% block head_title %}게임 참가{% endblock %}
{% block page_title %}게임 참가{% endblock %}


{% block content %} 
    {% include 'game/includes/info.html' with player_nickname=player_nickname game_session=game_session %}
        
    {% if message_text %}
        <div class="{{ message_level }}">{{ message_text }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname" required><br><br>
        <label for="pin">PIN:</label>
        <input type="password" id="pin" name="pin" required><br><br>
        <button type="submit">참가하기</button>
    </form>
{% endblock %}